<html>
	<head>
		<style type="text/css">
			nav.menu_principal {
			    border-top: #AAA 2px solid;
			    border-bottom: #AAA 2px solid;
			    background-color: #EEE;
			}

			nav.menu_principal ul {
			    margin: 0px;
			    padding: 0px;
			    font-size: 20px;
			    text-align: center;
			}

			nav.menu_principal ul > li{
			    display:inline-block;
			    padding:15px;
			    height:30px;
			    line-height:30px;
			}

			nav.menu_principal ul > li > a {
			    text-decoration: none;
			    color: black;
			}
		</style>
	</head>

	<body>
		<nav class="menu_principal">
		    <ul>
		        <li><a>Inicio</a></li><!--
		     --><li><a>Música</a></li><!--
		     --><li><a>Cine</a></li><!--
		     --><li><a>Libros</a></li><!--
		     --><li><a>Podcasts</a></li><!--
		     --><li><a>Videojuegos</a></li>
		    </ul>
		</nav>

	<body>
</html>